*{
    padding: 0;
    margin: 0;
    box-sizing: 0;
    font-family: sans-serif !important;
    font-family: Arial !important;
    list-style-type: none !important;
    text-decoration:none !important;
    
}

.navbar{
  background-color: rgb(112, 137, 190) !important
}

.navbar-brand, .nav-link {
    color: rgb(255, 255, 255) !important;
    font-weight: bold !important;
}
.caption, .our-product{
    color: rgb(255, 255, 255) !important;
}
.navbar-brand{
    font-size: 35px !important;

}
.navbar:hover .navbar-link {
    color: rgb(121, 111, 206) !important;
}

.navbar:hover .nav-link {
    color: white !important;
}

.nav-link:hover {
    color: rgb(196, 85, 100) !important;
}

.carousel .carousel-item {
    max-height:625px;
}

@media(max-width:770px){
    .carousel .carousel-item {
        max-height:350px;
    }
}

@import url('https://fonts.googleapis.com/css?family=Montserrat');
body {
	background-color: rgb(52, 58, 64);
}


.our-product, .frequent, .servces{
  color: rgb(112, 137, 190) !important;
}
.our-producthr, .servceshr{
  background-color:  rgb(112, 137, 190) !important;
}

.card-body:hover{
    filter: brightness(75%);
  cursor: pointer;
}
.accord:hover{
    background-color: rgb(112, 137, 190) !important; 
    cursor: pointer !important;
}

.icon{
    color: white !important;
}

.icons{
  color: white !important;
  height: 35px !important;
  width: 35px !important;
}
.logo1{
  height: 50px !important;
  width: 50px !important;
}

.icon2{
  color: rgb(112, 137, 190) !important;
  height: 50px !important;
  width: 50px !important;
}
.headdesign{
    background: url('img26.jpeg');
    height: 575px !important;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}
@media(max-width:425px){

    .headdesign{
        height: 750px;
    } 
}

h1 span {
  position: relative;
  top: 20px;
  display: inline-block;
  font-size: 70px;
  color: rgb(112, 137, 190) !important;
  text-shadow: 0 1px 0 #ccc, 0 2px 0 #ccc, 0 3px 0 #ccc, 0 4px 0 #ccc,
    0 5px 0 #ccc, 0 6px 0 transparent, 0 7px 0 transparent, 0 8px 0 transparent,
    0 9px 0 transparent, 0 10px 10px rgba(0, 0, 0, 0.4);
}

.footer-photo{
  height: 140px !important;
  width: 140px !important;
}